.verify-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image:url('../Images/bg2.jpg');
    background-size: cover;
}

.verify-container{
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    padding: 1.5rem;
}