.verify-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.verify-container{
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
}